<div class="blog__sidebar">
    <div class="blog__sidebar__search">
        <form action="/blogs" method="GET">
            <input type="text" placeholder="Search..." name="keyword">
            <button type="submit"><span class="icon_search"></span></button>
        </form>
    </div>
    <div class="blog__sidebar__item">
        <h4>Categories</h4>
        <ul>
            <li><a href="/">All</a></li>
            {{#each categories}}
            <li><a href="/blogs?category={{id}}">{{name}} ({{Blogs.length}})</a></li>
            {{/each}}
        </ul>
    </div>

    <div class="blog__sidebar__item">
        <h4>Search By Tags</h4>
        <div class="blog__sidebar__item__tags">
            {{#each tags}}
            <a href="/blogs?tag={{id}}">{{name}}</a>
            {{/each}}
        </div>
    </div>
</div>